---

import { Image } from 'astro:assets';
import type { Image as ImageType } from '../data/galleryData';
import type { ImageExif } from '../data/galleryData';

import "@fancyapps/ui/dist/fancybox/fancybox.css";
import { slide } from 'astro:transitions';


interface Props {
	images: ImageType[];
}

const { images } = Astro.props;
---

<section id="photo-grid" class="relative w-full mx-auto overflow-hidden">
	{
		images.map((image, index) => (
			<a
				href={image.src.src}
				class="photo-item absolute transition-transform hover:scale-[1.02] hover:z-10"
				data-gallery="gallery1"
				data-type="image"
				style={'--width: ' + image.src.width + 'px; --height: ' + image.src.height + 'px;'}
				target="_blank"
				data-fancybox="gallery"
				data-caption= {image.description}
				

			>
				<Image
					src={image.src}
					format="webp"
					width={image.src.width}
					height={image.src.height}
					class="w-full h-full object-cover rounded-sm shadow-sm hover:shadow-lg transition-shadow"
					loading={index < 10? "eager" : "lazy"}
					alt={
						 "ISO "+image.exif?.iso+
						 " &nbsp "+image.exif?.focalLength+"mm"+
						 " &nbsp ƒ"+image.exif?.fNumber+
						 " &nbsp "+(1/(image.exif?.shutterSpeed ?? 0))+"s"
						}
				/>
			</a>
		))
	}
</section>

<script>
  import { Fancybox } from "@fancyapps/ui/dist/fancybox/";

  Fancybox.bind("[data-fancybox]", {
    theme: "dark",
    mainStyle: {
      "--f-button-width": "44px",
      "--f-button-height": "44px",
      "--f-button-border-radius": "50%",
      "--f-toolbar-padding": "16px",
    },
    Carousel: {
      Arrows: true,
      Toolbar: {
        display: {
          left: [],
          middle: [],
          right: ["autoplay","toggleFull","fullscreen","close"],
        },
      },
      transition: "slide",

	  formatCaption: (carouselRef, slide) => {
		return `${slide.caption}
		<br/> 
		<div style="text-align:center;">
		${slide.alt}
		</div>
		`;
	  }
    },
  });
</script>

<script>
	import '../scripts/photo-grid';
</script>
